# Recommendation System for Amazon CDs and Vinyls

In [5]:
import pandas as pd

In [6]:
rating_path = 'Amazon_CDs_and_Vinyl/Amazon_CDs_and_Vinyl.inter'
item_path = 'Amazon_CDs_and_Vinyl/Amazon_CDs_and_Vinyl.item'
ratings = pd.read_csv(rating_path, sep='\t', names=['user_id', 'item_id', 'rating', 'timestamp'], header=0)
items = pd.read_csv(item_path, sep='\t', names=['item_id', 'categories', 'average_rating', 'rating_number', 'price'], header=0)

In [7]:
ratings.head()

                        user_id     item_id  rating      timestamp
0  AHQ6IJI7NLP7AXVWBXHEIETPA5MQ  B0014GFI9W     5.0  1241460688000
1  AHQ6IJI7NLP7AXVWBXHEIETPA5MQ  B00006LHW9     5.0  1246200134000
2  AHQ6IJI7NLP7AXVWBXHEIETPA5MQ  B005CP5O9K     5.0  1431018896000
3  AHQ6IJI7NLP7AXVWBXHEIETPA5MQ  B00116W23U     1.0  1457796304000
4  AHQ6IJI7NLP7AXVWBXHEIETPA5MQ  B001D25M9I     3.0  1457796558000

In [8]:
items.head()

,item_id,categories,average_rating,rating_number,price
0,B000002X4C,"CDs & Vinyl,Dance & Electronic,House",4.6,112,12.05
1,B00902T10Y,"CDs & Vinyl,Jazz,Avant Garde & Free Jazz",5.0,1,14.98
2,B00000DALY,"CDs & Vinyl,Rap & Hip-Hop,Gangsta & Hardcore",5.0,9,24.99
3,B0000086D1,"CDs & Vinyl,Soundtracks,Movie Scores",4.8,1186,11.55
4,B000S6W7KC,"CDs & Vinyl,Folk",5.0,1,14.07